<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>BookHub</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DashboardServlet</display-name>
    <servlet-name>DashboardServlet</servlet-name>
    <servlet-class>com.bookhub.servlets.DashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardServlet</servlet-name>
    <url-pattern>/DashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashboardDropdownServlet</display-name>
    <servlet-name>DashboardDropdownServlet</servlet-name>
    <servlet-class>com.bookhub.servlets.DashboardDropdownServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashboardDropdownServlet</servlet-name>
    <url-pattern>/DashboardDropdownServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookServlet</display-name>
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>com.bookhub.servlets.BookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/BookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookEditServlet</display-name>
    <servlet-name>BookEditServlet</servlet-name>
    <servlet-class>com.bookhub.servlets.BookEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookEditServlet</servlet-name>
    <url-pattern>/BookEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookRemoveServlet</display-name>
    <servlet-name>BookRemoveServlet</servlet-name>
    <servlet-class>com.bookhub.servlets.BookRemoveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookRemoveServlet</servlet-name>
    <url-pattern>/BookRemoveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberServlet</display-name>
    <servlet-name>MemberServlet</servlet-name>
    <servlet-class>com.bookhub.servlets.MemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberServlet</servlet-name>
    <url-pattern>/MemberServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberEditServlet</display-name>
    <servlet-name>MemberEditServlet</servlet-name>
    <servlet-class>com.bookhub.servlets.MemberEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberEditServlet</servlet-name>
    <url-pattern>/MemberEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MemberRemoveServlet</display-name>
    <servlet-name>MemberRemoveServlet</servlet-name>
    <servlet-class>com.bookhub.servlets.MemberRemoveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemberRemoveServlet</servlet-name>
    <url-pattern>/MemberRemoveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServiceServlet</display-name>
    <servlet-name>ServiceServlet</servlet-name>
    <servlet-class>com.bookhub.servlets.ServiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServiceServlet</servlet-name>
    <url-pattern>/ServiceServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.bookhub.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.bookhub.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LibrarianServlet</display-name>
    <servlet-name>LibrarianServlet</servlet-name>
    <servlet-class>com.bookhub.servlets.LibrarianServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibrarianServlet</servlet-name>
    <url-pattern>/LibrarianServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LibrarianEditServlet</display-name>
    <servlet-name>LibrarianEditServlet</servlet-name>
    <servlet-class>com.bookhub.servlets.LibrarianEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibrarianEditServlet</servlet-name>
    <url-pattern>/LibrarianEditServlet</url-pattern>
  </servlet-mapping>
</web-app>